h1{
    background-color: black;
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-self: center;

}
h2{
color: blue;
}
body{
background-color: cornflowerblue;
}

.grid{



}
.item{

    
}